// Typography
$fontType: 'Nunito Sans',
sans-serif;
$hpBodyText: 0.875rem;
$detailsPageText: 1rem;

// Colors
$darkElements: hsl(209, 23%, 22%);
$darkBg: hsl(207, 26%, 17%);
$white: hsl(0, 0%, 100%);
$lightModeText: hsl(200, 15%, 8%);
$lightInput: hsl(0, 0%, 52%);
$lightBg: hsl(0, 0%, 98%);